*{
	font-family: 'Karla', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body{
	background-color: #fff;
}
a,ul{
	color: #204000; text-decoration: none;
	list-style: none;

}
img{
	max-width: 100%;
}
header{
	width: 100%; float: left; padding: 2% 3%;
	background-color: #efefef;
}
header h1{
	width: 185px; height: 121px;
	float: left;
}
header nav{
	width: auto;
	height: 55px;
	float: right;
	position: static;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	padding: 15px;
}
header nav ul li a:hover{
	background-color: #48AA43;
	color: white; border-radius: 5px;
}
main{
	width: 100%; float: left; padding: 2% 3%;
	background-color: #fff;
}
.banner{
	width: 100%;
	padding: 2% 3%;
	background-image: url("../Img/bg.jpg");
}
.banner p{
	font-size: 3em; color: #fff;
	text-align: center; margin: 3%;
}
.banner button{
	width: 45%; height: 50px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
	color: white;
	background-color: rgba(0,0,0,0.5);
}
.banner button:hover{
	background-color: rgba(0,0,0,0.2);
}
.cursos{
	padding: 2% 3%; float: left; margin: 3% 0;
}
.cursos h2{
	color: #48AA43;
	text-align: center;
	font-size: 3em;
	margin-bottom: 5%;
}
.cursos article{
	width: 28%; padding: 2%; float: left;
}
.news{
	padding: 2% 3%;
	float: left;
	margin: 3% 0;
}
.news h2{
	color: #8CC63E;
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 5%;
}
footer{
	width: 100%; float: left; padding: 2% 3%;
	background-color: #204000; color: white;
	text-align: center;
}
footer a{
	color: #DDE11A;
}